/********************************************************************************/
/* html body */


html, body {
    height: 100%;
    background-color: var(--background-color);
  }
  
  body {
    /* body est un container flex en column */
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  
  /********************************************************************************/
  main {
    /* contrairement aux autres enfants (header, footer), prendre tout l'espace restant */
    flex-grow: 1;
  
    padding: 20px 15px 50px 15px;
    overflow-y: auto; /* permet de scroller au sein du main et non sur toute la page */
  }
  
  @media (max-width: 768px) {
    main {
        padding: 10px 5px 25px 5px;
    }
  }
  
  /********************************************************************************/
  /* sections */
  
  main section {
    /* chaque section est un container flex en column */
    flex-direction: column;
  
    display: none;
    margin: auto;
    max-width: 1200px; /* max-width pour les gros écrans... éviter d'avoir une liste de 12'000px de large */
  }
  
  main section.active { /* avec la classe "active", on affiche la section */
    display: flex;
  }