/* On utilise Montserrat par défaut */
* {
    font-family: "Akaya Kanadaka", sans-serif;
    font-size: 14px;
    color: var(--text-color);
  }
  
  h1 {
    font-size: var(--font-size-xlarge);
    color: var(--color-primary);
  }
  
  h2 {
    font-size: var(--font-size-large);
    color: var(--color-secondary);
  }
  
  h3 {
    font-size: var(--font-size-large);
  }
  
  h4 {
    font-size: var(--font-size-medium);
  }
  
  h5 {
    font-size: var(--font-size-medium);
  }
  
  h6 {
    font-size: var(--font-size-small);
  }
  
  p, ol, li, a{
    font-family: "Caudex", sans-serif;
  }
  
  text {
    font-family: "Caudex", sans-serif;
    font-size: 14px;
    fill: var(--text-color);
  }

  a {
    text-decoration: none;
}

@media (max-width: var(--breakpoint-medium)) {
    h1 {
        font-size: var(--font-size-large);
    }

    h2 {
        font-size: var(--font-size-medium);
    }
}