:root {
    /* Colors */
    --color-primary: #efa00f;
    --color-secondary: #2e9ca0;
    --color-tertiary: #21616a;
    --color-quaternary: #533946;
    --color-accent: #efa00f;
    
    --background-color: #fff;

    --text-color: #e6d1b4;
    --color-error: #ff0000;
    
    /* Fonts */

    /* spacing and borders*/
    --border-radius: 5px;
    --border-width-small : 1px;
    --border-width-medium : 3px;

    --spacing-small : 5px;
    --spacing-medium : 10px;
    --spacing-large : 20px;

    --gap : 5px;

    /*Animations*/
    --default-transition: 300ms ease-in-out;
}