:root {
    /* Colors */
    --color-primary: #80a416;
    --color-secondary: #c5c764;
    --color-tertiary: #08652c;
    --color-quaternary: #ad9f3c;
    --color-accent: #80a416;
    
    --background-color: #fff;
    --background-color-light: #f9f9f9;

    --text-color: #032820;
    --color-error: #ff0000;
    --color-facile : #A6CFA5;
    --color-moyen : #AFC3E1;
    --color-difficile : #DC6767;
    --color-tres-difficile : #ff0000;
    
    /* Fonts */

    /* spacing and borders*/
    --border-radius: 5px;
    --border-width-small : 1px;
    --border-width-medium : 3px;

    --spacing-small : 5px;
    --spacing-medium : 10px;
    --spacing-large : 20px;

    /*Animations*/
    --default-transition: 300ms ease-in-out;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    /* Responsive font sizes */
    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.25rem;
    --font-size-xlarge: 1.5rem;

    /* Responsive breakpoints */
    --breakpoint-small: 480px;
    --breakpoint-medium: 768px;
    --breakpoint-large: 1024px;
}